/*
**
**
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #0C8D64;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}


#view {
	// margin-top: 130px;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h1 {font-size: 42px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 22px;}

a {
	color: white;
	
	&:hover {
		text-decoration: none;
		color: white;
	}

	&:focus {
		outline: none;
	}
}


/*******************************************************************************************
**
** 										Element
**
*******************************************************************************************/

/*******************************************************************************************
** 										ACCORDION
*******************************************************************************************/

.panel-group .panel {
	border-radius: 0;
}
.panel .panel-heading {
	border-radius: 0;
}
.panel-group .panel+.panel {
	margin-top: 1px;
}

.panel {
	background-color: $transparentWhite;
	border: none;
	border-radius: 0;

	.panel-heading {
		background-color: $transparentWhite;
		border: none;
		height: 100px;

		h4 {
			font-weight: 200;
			text-align: center;
			line-height: 64px;
			text-transform: uppercase;
			
			.accordion-toggle {
				text-decoration: none;
			}
		}
	}
}

.muscle-group, .scheme {
	width: 100%;
	// background-color: $transparentWhite;
	padding: 20px;
	border-bottom: 1px solid white;

	&:last-child {
		border-bottom: none;
	}

	h3 {
		text-transform: uppercase;
		text-align: center;
	}

	.reps-sets {
		list-style: none;

		li {
			display: inline-block;
		}
	}
	
	#axlar{ background-image: url(../images/); }
	#armar{ background-image: url(../images/); }
	#bröst{ background-image: url(../images/); }
	#rygg{ background-image: url(../images/); }
	#mage{ background-image: url(../images/); }
	#ben{ background-image: url(../images/); }
}



/*******************************************************************************************
** 										MENU
*******************************************************************************************/

#menu {
	width: 80vw;
	height: 100vh;
	background-color: rgba(255,255,255, .8);
	position: fixed;
	top: 0;
	
	h4, li, p {color: black;}
	
	h3 {
		text-align: center;
		margin-top: 50px;
		text-transform: uppercase;
	}
	
	.menu-list {
		list-style: none;
		padding: 0;
		// background-color: $transparentWhite;
		margin-top: 50px;
		
		li {
			width: 100%;
			padding-left: 20px;
			height: 60px;
			border-bottom: 1px solid black;
			&:first-child {
				border-top: 1px solid black;
			}

			a {
				line-height: 60px;
				text-align: center;
				text-transform: uppercase;
				color: black;
			}
		}
	}
}

#menu.closed {
	left: -80vw;
}

#menu.opened {
	left: 0;
}

.menubutton {
	position: fixed;
	top: 20px;
	right: 10px;
	z-index: 9;
	font-size: 32px;
	color: white;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.menubutton.closed {
	left: 5vw;
}

.menubutton.opened {
	left: 85vw;
}

#content.closed {
	filter: none;
}

#content.opened {
	filter: blur(10px);
}




/*******************************************************************************************
**
** 										PAGES
**
*******************************************************************************************/

#header-home  {
	height: 30vh;
	background-color: pink;
	
	h1 {
		margin: 0;
		line-height: 30vh;
	}
}


/*******************************************************************************************
** 										HOME
*******************************************************************************************/

#front-nav {
	width: 100%;
	list-style: none;
	display: inline-block;
	
	a {
		text-decoration: none;
		color: white;

		li {
			background-color: $transparentWhite;
			height: 100px;

			h3 {
				text-align: center;
				line-height: 100px;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}


/*******************************************************************************************
** 										Exercises
*******************************************************************************************/

.exercise-sub {
	
	.active {
		background-color: #CBCBCB;
	}

	a {
		color: black;
	}
}

.add-exercise {
	//..

	form#exercise-form {
		width: 90%;
		margin: 0 auto;
		
		label {
			width: 48%;
			text-transform: uppercase;
		}

		input {
			width: 48%;
			height: 30px;
			margin: 5px 0;
			padding: 5px;
			background-color: rgba(255,255,255, .4);
			border: none;
			
			&[type=submit] {
				width: 100%;
				height: 30px;
				margin: 10px auto;
				padding: 5px;
				border: 2px solid black;
				border-radius: 5px;
				background-color: transparent;
				color: black;
				text-transform: uppercase;
				
				&:hover {
					border-color: white;
					color: white;
				}
			}
		}

		select {
			width: 48%;
			height: 30px;
			margin: 5px 0;
			background-color: rgba(255,255,255, .4);
			border-radius: 0px;
			border: none;
		}

		textarea {
			width: 100%;
			margin: 5px 0;
			padding: 5px;
			background-color: rgba(255,255,255, .4);
			border: none;
		}

		hr {
			margin-top: 0;
			margin-bottom: 0;
			border-top: 1px solid rgba(255,255,255, .4);
		}
	}
}


/*******************************************************************************************
** 										SCHEMA
*******************************************************************************************/

.btns-days {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	display: block;
	margin: 0 auto;

	.btn {
		width: 14.28571428571429%;
		// font-size: 2.5vw;
	}
}

.header-scheme {
	margin-bottom: 40px;
}


.scheme {
	background-color: $transparentWhite;
	padding: 20px 0 0 0;
	margin-top: 34px;

	.week-day {
		list-style: none;
	}

	.check {
		display: inline-block;
		width: 100px;
		height: 100px;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		
		input[type="checkbox"] {
			display: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			
			+ label span {
				display: inline-block;
				width: 90px;
				height: 90px;
				background: url(../images/custom_checkbox_sprite2.png) 2px top no-repeat;
			}

			&:checked {

				+ label {

					span {
						background: url(../images/custom_checkbox_sprite2.png) -90px top no-repeat;
					}
				}

				+ .exercise {
					background-color: pink;
					// De måste nog ligga brevid varandra, måste vara syskon
				}
			}
		}
	}

	.exercise {
		display: inline-block;
		// background-color: white;
		
		.exercise-li {
			list-style: none;

			.exercise-desc {
				//..

				.reps-sets {
					list-style: none;
				}
			}
		}
	}

	.done {
		filter: blur(10px);
	}
}