<!DOCTYPE html>
<html ng-app="trainerApp" lang="sv">
<head>
	<meta charset="UTF-8">
	<title>Trainer-App</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Angularjs -->
	<script src="res/angular_1.4.2.min.js"></script>
	<script src="res/angular-route_1.4.2.min.js"></script>
	<script src="res/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="app/trainerApp.js"></script>

</head>
<body ng-controller="mainCtrl as main">

	<div id="wrapper">

		<span class="menubutton" ng-click="main.toggleMenu()" ng-class="{opened: main.isOpened, closed: !main.isOpened}">☰</span>
	
		<div id="content" ng-class="{opened: main.isOpened, closed: !main.isOpened}">

			<div ng-view id="view">
				<!-- Main content with injected views -->
			</div><!-- #view -->
		</div><!-- #content -->


		<div id="menu" ng-class="{opened: main.isOpened, closed: !main.isOpened}">
			<h3>TräningsApp</h3>
			<ul class="menu-list">
				<li><a ng-click="main.closeMenu()" href="/"><i class="fa fa-home"></i> Home</a></li>
				<li><a ng-click="main.closeMenu()" href="exercises"><i class="fa fa-cube"></i> Exercises</a></li>
				<li><a ng-click="main.closeMenu()" href="scheme"><i class="fa fa-calendar"></i> Schema</a></li>
				<li><a ng-click="main.closeMenu()" href="configs"><i class="fa fa-cogs"></i> Inställningar</a></li>
			</ul>
		</div>

	</div><!-- #wrapper -->
</body>
</html>