<!-- exercises.html -->

<div class="muscle-groups">
	<h1 class="text-center">Övningar</h1>
	<accordion close-others="onAtATime">
		<accordion-group heading="{{muscleGroup.name}}" ng-repeat="muscleGroup in routines.muscleGroups">
			<div  id="{{muscleGroup.name}}" class="exercise muscle-group" ng-repeat="exercise in muscleGroup.exercises">
				<h5>{{exercise.name}}</h5>
				<ul>
					<li>{{exercise.reps}} reps</li>
					<li>{{exercise.sets}} sets</li>
				</ul>
				<p>{{exercise.desc}}</p>
			</div><!-- .exercise -->
		</accordion-group>
	</accordion>
</div>
