<!-- exercises.html -->

<header id="header-home">
	<a href="/"><h1 class="text-center">{{routines.headline}}!</h1></a>
</header>

<div class="add-exercise">
	<h2 class="text-center">Lägg till Övning</h2>
	<form id="exercise-form" ng-submit="routines.addExercise()">
		
		<label for="name">Namn</label>
		<input name="name" ng-model="routines.name" type="text">
		<hr>
		<br>
		
		<label for="muscleGroup">Muskelgrupp</label>
		<select ng-model="routines.muscleGroup" name="muscleGroup">
			<option value="axlar">Axlar</option>
			<option value="armar">Armar</option>
			<option value="brost">Bröst</option>
			<option value="mage">Mage</option>
			<option value="rygg">Rygg</option>
			<option value="ben">Ben</option>
		</select>
		<hr>
		<br>
		
		<label for="reps">Reps</label>
		<select ng-model="routines.reps" name="reps">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
		</select>
		<hr>
		<br>
		
		<label for="sets">Sets</label>
		<select ng-model="routines.sets" name="sets">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<hr>
		<br>
		
		<label for="desc">Instruktioner</label>
		<textarea ng-model="routines.desc" name="desc">Instruktioner</textarea>
		<br>
		<hr>
		<input type="submit" value="Lägg till">
	</form>
</div><!-- .add-exercise -->

<div ng-repeat="added in routines.add">
	<h5>{{added.name}}</h5>
	<ul class="reps-sets">
		<li>{{added.reps}} reps</li>
		<li>{{added.sets}} sets</li>
	</ul>
	<p>{{added.desc}}</p>
</div>

<div class="muscle-groups">
	<accordion close-others="true">
		<accordion-group is-open="isopen" ng-repeat="muscleGroup in routines.muscleGroups">
			<accordion-heading ng-click="isopen=!isopen">
				<div class="panel-header"><h4>{{muscleGroup.name}}</h4></div>
			</accordion-heading>
				<div  id="{{muscleGroup.name}}" class="exercise muscle-group" ng-repeat="exercise in muscleGroup.exercises">
					<h5>{{exercise.name}}</h5>
					<ul class="reps-sets">
						<li>{{exercise.reps}} reps</li>
						<li>{{exercise.sets}} sets</li>
					</ul>
					<p>{{exercise.desc}}</p>
				</div><!-- .exercise -->
		</accordion-group>
	</accordion>
</div><!-- .muscle-groups -->
