<!-- scheme.html -->

<header id="header-home">
	<a href="/"><h1 class="text-center">Schema!</h1></a>
</header>

<div class="btn-group btns-days">
	<label class="btn btn-primary" ng-model="selectedDay" btn-radio="'Måndag'">Måndag</label>
	<label class="btn btn-primary" ng-model="selectedDay" btn-radio="'Tisdag'">Tisdag</label>
	<label class="btn btn-primary" ng-model="selectedDay" btn-radio="'Onsdag'">Onsdag</label>
	<label class="btn btn-primary" ng-model="selectedDay" btn-radio="'Torsdag'">Torsdag</label>
	<label class="btn btn-primary" ng-model="selectedDay" btn-radio="'Fredag'">Fredag</label>
	<label class="btn btn-primary" ng-model="selectedDay" btn-radio="'Lördag'">Lördag</label>
	<label class="btn btn-primary" ng-model="selectedDay" btn-radio="'Söndag'">Söndag</label>
</div>

<div class="scheme">
	<h1 class="text-center">{{selectedDay}}</h1>
	<h4 class="text-center">Bröst och Axlar</h4>

	<accordion close-others="true">
		<accordion-group is-open="isopen" ng-repeat="exercise in scheme.exercises">
			<accordion-heading ng-click="isopen=!isopen">
				<div class="panel-header"><h4>{{exercise.name}}</h4></div>
			</accordion-heading>
			<div class="exercise-desc">
				<ul class="reps-sets">
					<li>{{exercise.reps}} reps</li>
					<li>{{exercise.sets}} sets</li>
				</ul>
				<p>{{exercise.desc}}</p>
			</div><!-- .exercise-desc -->
		</accordion-group>
	</accordion>

</div><!-- .scheme -->


